@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ----------------------------------------------
  Styles généraux pour mobile (mobile-first)
---------------------------------------------- */
h1 {
  font-family: "Allura", serif;
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 0.9;
  padding: 1rem 0;
}
@media (min-width: 768px) {
  h1 {
    font-size: 55px;
  }
}
@media (min-width: 1024px) {
  h1 {
    font-size: 76px;
  }
}

h2 {
  font-size: 25px;
  color: #000000;
  text-align: center;
  font-family: "Roboto Slab", serif;
  margin-bottom: 1rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}
h2 img {
  width: 2rem;
  position: absolute;
}

.underline {
  display: block;
  width: 88px;
  height: 4px;
  background: #c42121;
  margin: 0 auto 1.5rem auto;
}

.cta {
  z-index: 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  background-color: #c42121;
  color: #ffffff;
  font-family: "Roboto Slab", serif;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 50px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
  letter-spacing: 5px;
  line-height: 22px;
  max-width: 300px;
  margin: 0 auto;
}

.button:hover {
  background-color: #981a1a;
}

.content {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 2px;
}

.red {
  color: #c42121;
}

.green {
  color: #157109;
}

.cky-consent-container .cky-consent-bar {
  font-family: "Roboto Slab", serif !important;
}

#back-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  width: 40px;
  height: 40px;
  background-color: #c42121;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  z-index: 30;
}
#back-to-top:hover {
  background-color: #981a1a;
  cursor: pointer;
}
#back-to-top i {
  font-size: 20px;
}
#back-to-top.visible {
  opacity: 1;
  visibility: visible;
}

.top-bar {
  background-color: #2b3031;
  padding: 0.5rem 1rem;
}
.top-bar__container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.top-bar__container .top-bar__socials {
  display: flex;
  gap: 3rem;
}
.top-bar__container .top-bar__socials .display-tel {
  display: none;
}
.top-bar__container .top-bar__socials a {
  color: #ffffff;
  font-size: 1.5rem;
  transition: color 0.3s;
}
.top-bar__container .top-bar__socials a:hover {
  color: #c42121;
}

header {
  position: relative;
  z-index: 1000;
  width: 100%;
  transition: all 0.3s ease;
}
header .container-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #ffffff;
  position: relative;
  z-index: 1001;
}
header .logo-menu a {
  display: flex;
  align-items: center;
}
header .logo-menu a img {
  width: 9rem;
}
header .toggle-menu {
  cursor: pointer;
  text-align: center;
  display: block;
  margin-left: auto;
  position: relative;
  width: 44px;
  height: 44px;
  background-color: #c42121;
  border-radius: 50%;
  transition: transform 0.5s;
}
header .toggle-menu .icon-span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  transition: background-color 0.5s, transform 0.5s;
}
header .toggle-menu .icon-span::before, header .toggle-menu .icon-span::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 2px;
  background-color: #ffffff;
  transition: transform 0.5s;
  top: 0;
  left: 0;
}
header .toggle-menu .icon-span::before {
  transform: translateY(-8px);
}
header .toggle-menu .icon-span::after {
  transform: translateY(8px);
}
header .toggle-menu svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  fill: transparent;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 170;
  stroke-dashoffset: 170;
  transition: stroke-dashoffset 0.5s ease;
}
header .toggle-menu.is-opened {
  transform: rotate(180deg);
}
header .toggle-menu.is-opened .icon-span {
  background-color: transparent;
}
header .toggle-menu.is-opened .icon-span::before {
  transform: translateY(0) rotate(45deg);
}
header .toggle-menu.is-opened .icon-span::after {
  transform: translateY(0) rotate(-45deg);
}
header .toggle-menu.is-opened svg {
  stroke-dashoffset: 0;
}
header .menu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, visibility 0.4s ease, transform 0.4s ease;
}
header .menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
header .menu-item {
  padding: 1rem;
  border-bottom: 1px solid #ddd;
  font-size: 1.2rem;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}
header .menu-item a {
  color: #000000;
  text-decoration: none;
}
header .menu-item a:hover {
  color: #c42121;
}

.hero {
  padding: 0 1rem 2rem;
}
.hero .hero-content .content {
  padding: 0.5rem 0;
}
.hero .hero-content .cta {
  padding: 1.5rem 0;
}
.hero .hero-img {
  display: flex;
  justify-content: center;
}
.hero .hero-img img {
  width: 85%;
}

.presentation {
  margin-bottom: 2rem;
}
.presentation .container {
  padding: 0 1rem;
  font-family: "Roboto Slab", serif;
}
.presentation .container .presentation-title {
  display: flex;
  justify-content: center;
  margin-right: 1.5rem;
}
.presentation .container .presentation-icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem 0;
}
.presentation .container .presentation-icons .icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}
.presentation .container .presentation-icons .icon img {
  width: 4rem;
}
.presentation .container .presentation-icons .icon .title-icon {
  font-family: "Allura", serif;
  font-size: 34px;
  margin-top: 0.6rem;
}
.presentation .container .presentation-icons .icon .content {
  font-size: 16px;
  text-align: center;
  margin-top: 1rem;
}

.carte {
  position: relative;
  background: #000000;
  color: #ffffff;
  padding: 3rem 0.8rem;
  text-align: center;
  background-image: url("../images/carte_bg_mobile.svg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  min-height: 80vh;
}
.carte .container-carte {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carte .container-carte h2 {
  color: #ffffff;
  text-align: end;
}
.carte .container-carte p {
  font-family: "Roboto Slab", serif;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 2px;
}
.carte .container-carte .cta {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.carte .container-carte .cta .button {
  padding: 0.3rem 0.8rem;
  letter-spacing: 3px;
  margin: 0;
  font-size: 12px;
}

.wrap-actu-accueil {
  padding: 2rem 1rem 1rem;
}
.wrap-actu-accueil .row {
  margin-right: 1.5rem;
}
.wrap-actu-accueil #carousel-actus {
  font-family: "Roboto Slab", serif;
  margin-bottom: 1rem;
}
.wrap-actu-accueil #carousel-actus .item {
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.3s ease-in-out;
}
.wrap-actu-accueil #carousel-actus .item:hover {
  transform: translateY(-3px);
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil {
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  min-height: 400px;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .media-actu-accueil {
  position: relative;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .media-actu-accueil img {
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .media-actu-accueil .badge {
  position: absolute;
  top: 8px;
  left: 8px;
  background: #ffffff;
  color: #c42121;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  letter-spacing: 1px;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .text-actu-accueil {
  padding: 1rem 0.5rem;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .text-actu-accueil h3 {
  font-size: 24px;
  color: #000000;
  margin-bottom: 0.5rem;
  font-weight: 400;
  letter-spacing: 1px;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .text-actu-accueil p {
  font-size: 15px;
  color: #000000;
  line-height: 1.4;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  letter-spacing: 2px;
}
.wrap-actu-accueil #carousel-actus .item .content-actu-accueil .news-date {
  font-size: 13px;
  color: #157109;
  text-align: right;
  padding: 0.5rem;
  font-weight: 600;
  margin-top: auto;
}
.wrap-actu-accueil .owl-dots {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.wrap-actu-accueil .owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  background: #ddd;
  border-radius: 50%;
  margin: 0 5px;
}
.wrap-actu-accueil .owl-dots .owl-dot.active {
  background: #be1622;
}
.wrap-actu-accueil .cta .button {
  padding: 0.4rem 0.6rem;
  font-size: 12px;
  letter-spacing: 3px;
}

.wrap-gallery {
  padding: 1rem 1rem 0;
  text-align: center;
}
.wrap-gallery h2 {
  margin-bottom: 1rem;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.wrap-gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 800px;
  margin: 0 auto;
}
.wrap-gallery .gallery-grid .gallery-item {
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrap-gallery .gallery-grid .gallery-item img {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 8px;
  filter: grayscale(100%);
  transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease;
}
.wrap-gallery .gallery-grid .gallery-item img:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  filter: grayscale(0%);
}

.wave-separator {
  position: relative;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  top: 3px;
}
.wave-separator svg {
  display: block;
  width: 100%;
  height: auto;
}

.contact-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1.2rem 3rem;
  color: #000000;
  text-align: center;
  overflow: hidden;
}
.contact-section .contact-content {
  z-index: 2;
  position: relative;
  background-color: #ffffff;
  padding: 2rem 0.3rem;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.7);
}
.contact-section p,
.contact-section ul,
.contact-section a {
  font-family: "Roboto Slab", serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
  letter-spacing: 2px;
}
.contact-section .contact-title {
  margin-right: 1.5rem;
}
.contact-section .contact-title h2 {
  line-height: 32px;
  position: relative;
}
.contact-section .contact-title h2 img {
  width: 2rem;
  position: absolute;
}
.contact-section .contact-info {
  margin-bottom: 1rem;
}
.contact-section .contact-info span {
  font-weight: 500;
  text-decoration: underline;
}
.contact-section .contact-info a {
  color: #000000;
  text-decoration: none;
}
.contact-section .contact-info i {
  color: #c42121;
}
.contact-section .button {
  font-size: 12px;
  padding: 0.5rem 0.8rem;
  font-weight: bold;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-family: "Roboto Slab", serif;
  min-height: 42vh;
  padding: 1rem;
  border-top: dashed #2b3031;
}
.footer a {
  color: #000000;
  text-decoration: none;
}
.footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.footer__logo {
  width: 100%;
  background-color: #ffffff;
}
.footer__logo img {
  max-width: 178px;
  height: auto;
}
.footer__info {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__info-item {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0.5rem 0;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 2px;
}
.footer__info-item i {
  font-size: 16px;
  color: #c42121;
}
.footer__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 1.5rem;
}
.footer__links a {
  margin: 0.5rem;
  color: #000000;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  line-height: 1.3;
  letter-spacing: 2px;
}
.footer__links a:hover {
  text-decoration: underline;
  color: #c42121;
}
.footer__socials {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0.5rem;
}
.footer__socials a {
  font-size: 1.5rem;
  transition: color 0.3s;
}
.footer__socials a:hover {
  color: #c42121;
}
.footer__legal {
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1.5;
  font-weight: 300;
}
.footer__legal p {
  margin: 0.5rem;
}
.footer__legal nav a {
  color: #000000;
  text-decoration: none;
}
.footer__legal nav a:hover {
  text-decoration: underline;
  color: #c42121;
}
.footer__legal .part-dev a span {
  color: #c42121;
  font-size: 18px;
  line-height: 2.5;
}
.footer__legal .part-dev img {
  width: 5rem;
}

/* Design page menu pizza */
.menu-page {
  padding: 0 0.5rem;
}
.menu-page .menu-page_title {
  margin-right: 1.5rem;
}
.menu-page .menu-tabs {
  display: flex;
  justify-content: center;
  gap: 4px;
  padding: 2rem 0;
}
.menu-page .menu-tabs button {
  padding: 0.5rem 0.8rem;
  font-size: 15px;
  border-radius: 30px;
  border: 2px solid #C0392B;
  background: #ffffff;
  color: #C0392B;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.menu-page .menu-tabs button.active, .menu-page .menu-tabs button:hover {
  background: #C0392B;
  color: #ffffff;
}
.menu-page .menu-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  max-width: 800px;
  margin: auto;
}
.menu-page .menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0.2rem;
  transition: all 0.3s ease-in-out;
}
.menu-page .menu-item:hover {
  background: #f9f9f9;
}
.menu-page .menu-item .menu-text {
  flex: 1;
  padding-right: 10px;
  font-family: "Allura", serif;
}
.menu-page .menu-item .menu-title {
  font-size: 30px;
  font-weight: bold;
  color: #c42121;
  margin-bottom: 5px;
  font-family: "Allura", serif;
}
.menu-page .menu-item .menu-title .basil-icon {
  color: #33bd33;
  font-size: 18px;
  margin-left: 8px;
  vertical-align: middle;
}
.menu-page .menu-item .menu-description {
  font-style: italic;
  color: #555;
  margin-bottom: 8px;
  font-family: monospace;
  font-size: 16px;
  letter-spacing: 1px;
}
.menu-page .menu-item .menu-price {
  font-weight: bold;
  font-size: 18px;
  color: #2C3E50;
}
.menu-page .menu-item .menu-image {
  width: 130px;
  height: 130px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
.menu-page .menu-item .menu-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: transform 0.3s ease-in-out;
}
.menu-page .menu-item .menu-image img:hover {
  transform: scale(1.05);
}

/* Design page contact */
.contact-page {
  font-size: 22px;
}
.contact-page h3 {
  font-size: 25px;
  -webkit-text-decoration: underline #c42121;
          text-decoration: underline #c42121;
  padding-bottom: 0.4rem;
}
.contact-page .contact-subtitle {
  text-align: center;
}
.contact-page .main-form {
  font-family: "Roboto Slab", serif;
  padding: 1rem;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.4;
}
.contact-page .main-form .contact-intro {
  padding-bottom: 0.5rem;
}
.contact-page .main-form .contact-details ul {
  list-style-type: square;
  list-style-position: inside;
}
.contact-page .main-form strong {
  font-weight: bold;
}
.contact-page .wpcf7-form {
  display: grid;
  gap: 15px;
}
.contact-page .wpcf7-form input,
.contact-page .wpcf7-form textarea,
.contact-page .wpcf7-form select {
  width: 100%;
  padding: 10px;
  border: 0px solid #ddd;
  border-radius: 5px;
  background-color: #f3ebeb;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Roboto Slab", serif;
  font-size: 18px;
}
.contact-page .wpcf7-form input:focus,
.contact-page .wpcf7-form textarea:focus,
.contact-page .wpcf7-form select:focus {
  border-color: #c42121;
  background-color: rgba(243, 235, 235, 0.7803921569);
  outline: none;
}
.contact-page .wpcf7-form input::-moz-placeholder, .contact-page .wpcf7-form textarea::-moz-placeholder, .contact-page .wpcf7-form select::-moz-placeholder {
  color: #2b3031;
}
.contact-page .wpcf7-form input::placeholder,
.contact-page .wpcf7-form textarea::placeholder,
.contact-page .wpcf7-form select::placeholder {
  color: #2b3031;
}
.contact-page .wpcf7-form input[type=submit] {
  background: #c42121;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  width: 50%;
}
.contact-page .wpcf7-form input[type=submit]:hover {
  background: #c42121;
}
.contact-page .map-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
.contact-page .map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
@media (min-width: 768px) {
  .contact-page .map-container {
    padding-bottom: 50%;
  }
}
@media (min-width: 1024px) {
  .contact-page .map-container {
    padding-bottom: 30%;
  }
}

/* ====================== [ Page confidentialité] ====================== */
.politique-de-confidentialité,
.mentions-legales {
  padding: 1rem 1rem 4rem;
  font-family: "Roboto Slab", serif;
}
.politique-de-confidentialité h1,
.mentions-legales h1 {
  text-align: center;
  margin-bottom: 1rem;
}
.politique-de-confidentialité p,
.politique-de-confidentialité li,
.mentions-legales p,
.mentions-legales li {
  line-height: 1.5;
  letter-spacing: 3px;
  font-size: 18px;
  padding: 0 0 1.5rem;
}
.politique-de-confidentialité span,
.politique-de-confidentialité strong,
.mentions-legales span,
.mentions-legales strong {
  color: #c42121;
  font-weight: 500;
}
.politique-de-confidentialité span a,
.politique-de-confidentialité strong a,
.mentions-legales span a,
.mentions-legales strong a {
  color: #c42121;
}

@media (max-width: 320px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 21px;
  }
  .presentation .content {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  header .container-menu {
    padding: 0.5rem 2rem;
  }
  header .container-menu .logo-menu img {
    width: 11rem;
  }
  header .container-menu .toggle-menu {
    width: 55px;
    height: 55px;
  }
  .hero .hero-part .hero-img {
    padding: 2rem 0 1rem;
  }
  .hero .hero-part .hero-img .part-img img {
    width: 50%;
  }
  .presentation .container {
    text-align: justify;
    padding: 0 3rem;
  }
  .wrap-gallery {
    padding: 2rem 1rem 0;
  }
  .wrap-gallery .gallery-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  .contact-section .contact-content {
    padding: 2rem;
  }
  footer .footer__links {
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  h2 {
    font-size: 34px;
  }
  h2 img {
    width: 3.5rem;
  }
  .top-bar__container .top-bar__socials .display-tel {
    display: flex;
    align-items: center;
    font-family: "Roboto Slab", serif;
    color: #ffffff;
    font-size: 18px;
    gap: 1rem;
  }
  .top-bar__container .top-bar__socials .display-tel .fa-phone-alt {
    font-size: 1.5rem;
  }
  .top-bar__container .top-bar__socials a .fa-phone-alt {
    display: none;
  }
  header {
    position: relative;
    width: 100%;
    background-color: #ffffff;
    padding: 1rem 0;
  }
  header .container-menu {
    display: flex;
    justify-content: space-between;
    padding: 0rem 4rem;
  }
  header .container-menu .logo-menu img {
    width: 13rem;
  }
  header .container-menu .toggle-menu {
    display: none;
  }
  header .container-menu .menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0 3rem;
    position: relative;
    visibility: visible;
    opacity: inherit;
    width: 75%;
  }
  header .container-menu .menu-item {
    display: inline-block;
    position: relative;
    padding: 1rem 2rem;
    border-bottom: none;
  }
  header .container-menu .menu-item a {
    color: #000000;
    text-decoration: none;
    font-size: 22px;
    text-transform: uppercase;
    transition: color 0.3s ease;
  }
  header .container-menu .menu-item a:hover {
    color: #c42121;
  }
  header .container-menu .menu-item::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #c42121;
    transition: all 0.3s ease;
    transform: translateX(-50%);
  }
  header .container-menu .menu-item:hover::before {
    width: 25%;
  }
  header .container-menu .menu-item.uber::before {
    display: none;
  }
  header .container-menu .menu-item.uber .logo-uber {
    position: relative;
    top: 2.3rem;
  }
  .hero {
    display: flex;
    justify-content: flex-start;
    max-height: 78vh;
  }
  .hero .hero-container {
    display: flex;
    padding: 1rem 5rem 0;
    /* Animation d'apparition */
    /* Animation de flottement doux */
  }
  .hero .hero-container .hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .hero .hero-container .hero-content h1 {
    font-size: 80px;
  }
  .hero .hero-container .hero-content .content {
    padding: 0 10rem 0 0;
    font-size: 24px;
    line-height: 1.6;
  }
  .hero .hero-container .hero-content .button {
    font-size: 16px;
  }
  .hero .hero-container .hero-img img {
    width: 30rem;
    opacity: 0;
    transform: scale(1) translateY(50px);
    animation: fadeInPizza 2s ease-out forwards, floatPizza 3.5s ease-in-out infinite alternate;
  }
  @keyframes fadeInPizza {
    0% {
      opacity: 0;
      transform: scale(0.7) translateY(50px);
    }
    25% {
      opacity: 0.2;
      transform: scale(0.5) translateY(35px);
    }
    50% {
      opacity: 0.5;
      transform: scale(0.85) translateY(20px);
    }
    75% {
      opacity: 0.7;
      transform: scale(0.93) translateY(15px);
    }
    100% {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
  @keyframes floatPizza {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
      /* Augmenté pour être plus visible */
    }
  }
  .presentation {
    padding: 2rem 0;
  }
  .presentation .container {
    padding: 0 6rem;
  }
  .presentation .container .presentation-title h2 {
    font-size: 34px;
    letter-spacing: 10px;
  }
  .presentation .container .presentation-title h2 img {
    width: 3.5rem;
  }
  .presentation .container .content {
    font-size: 22px;
    line-height: 1.6;
  }
  .presentation .container .presentation-icons {
    margin: 2.5rem 0;
  }
  .presentation .container .presentation-icons .icon .img {
    width: 6rem;
  }
  .presentation .container .presentation-icons .icon .title-icon {
    font-size: 43px;
  }
  .presentation .container .presentation-icons .icon .content {
    width: 38rem;
    font-size: 22px;
  }
  .carte {
    padding: 7rem 2rem;
    background-image: url("../images/bg_carte_bis.svg");
    background-position: center;
    min-height: 52vh;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .carte .container-carte {
    display: block;
  }
  .carte .container-carte h2 {
    font-size: 47px;
  }
  .carte .container-carte P {
    font-size: 21px;
    text-align: end;
    padding-left: 5rem;
  }
  .carte .container-carte .cta .button {
    font-size: 15px;
  }
  .wrap-actu-accueil {
    padding: 4rem 1rem 1rem;
  }
  .wrap-actu-accueil .row h2 {
    font-size: 34px;
    letter-spacing: 10px;
  }
  .wrap-actu-accueil .row h2 img {
    width: 3.5rem;
  }
  .wrap-actu-accueil #carousel-actus {
    padding-top: 1rem;
    margin-bottom: 3rem;
  }
  .wrap-actu-accueil #carousel-actus .owl-stage {
    display: flex !important;
    justify-content: center !important;
    padding-bottom: 2rem;
  }
  .wrap-actu-accueil #carousel-actus .item {
    display: flex;
    justify-content: center;
  }
  .wrap-actu-accueil #carousel-actus .item .content-actu-accueil {
    min-height: 520px;
    max-width: auto;
  }
  .wrap-actu-accueil #carousel-actus .item .content-actu-accueil .text-actu-accueil h3 {
    font-size: 28px;
  }
  .wrap-actu-accueil #carousel-actus .item .content-actu-accueil .text-actu-accueil p {
    font-size: 20px;
  }
  .wrap-actu-accueil #carousel-actus .item .content-actu-accueil .news-date {
    font-size: 18px;
  }
  .wrap-actu-accueil .cta .button {
    padding: 0.8rem;
    font-size: 14px;
  }
  .wrap-gallery .gallery-grid {
    max-width: 1173px;
  }
  .contact-section {
    padding: 3rem 1.2rem 5rem;
  }
  .contact-section p,
  .contact-section ul,
  .contact-section a {
    font-size: 19px;
  }
  .contact-section .contact-content h2 img {
    width: 3.5rem;
  }
  .contact-section .button {
    font-size: 14px;
    padding: 0.8rem;
  }
  .footer {
    min-height: 34vh;
  }
  .footer .footer__container {
    flex-direction: row;
  }
  .footer .footer__logo {
    flex: 2;
  }
  .footer .footer__logo img {
    max-width: 295px;
  }
  .footer .footer__main-info {
    flex: 2;
  }
  .footer .footer__main-info .footer__info-item {
    font-size: 18px;
  }
  .footer .footer__main-info .footer__info-item i {
    font-size: 22px;
  }
  .footer .footer__main-info .footer__socials a {
    font-size: 1.8rem;
  }
  .footer .footer__main-info .footer__links {
    justify-content: center;
  }
  .footer .footer__main-info .footer__links a {
    font-size: 18px;
  }
  .footer .footer__legal {
    flex: 2;
    font-size: 14px;
  }
  /* Design page menu pizza */
  .menu-page .menu-page_title h2 img {
    width: 3.5rem;
  }
  .menu-page .menu-tabs {
    gap: 45px;
  }
  .menu-page .menu-tabs button {
    font-size: 20px;
  }
  .menu-page .menu-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .menu-page .menu-item .menu-title {
    font-size: 46px;
  }
  .menu-page .menu-item .menu-title .basil-icon {
    font-size: 21px;
  }
  .menu-page .menu-item .menu-description {
    font-size: 24px;
  }
  .menu-page .menu-item .menu-price {
    font-size: 24px;
  }
  .menu-page .menu-item .menu-image {
    width: 200px;
    height: 200px;
  }
  /* Design page contact */
  .contact-page .form-grid {
    display: flex;
    justify-content: center;
    padding: 3rem 6rem;
  }
  .contact-page .form-grid .contact-details {
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  .contact-page .form-grid .contact-form {
    width: 50%;
  }
}
@media only screen and (min-width: 320px) and (max-width: 359px) {
  .carte {
    min-height: 115vh;
  }
}
@media only screen and (min-width: 360px) and (max-width: 375px) {
  .carte {
    min-height: 88vh;
  }
}
@media only screen and (min-width: 768px) and (max-width: 799px) {
  .carte {
    min-height: 86vh;
  }
}
@media only screen and (min-width: 800px) and (max-width: 805px) {
  .carte {
    min-height: 70vh;
  }
}
@media only screen and (min-width: 884px) and (max-width: 890px) {
  .carte {
    min-height: 85vh;
  }
}
@media only screen and (min-width: 1280px) and (max-width: 1439px) {
  .carte {
    background-image: url("../images/bg_carte1280.svg");
  }
}/*# sourceMappingURL=style.css.map */